{% extends "base.html" %} {% block title %}Home Page{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Last measurement made by your device</h1>
  <div class="border p-4 rounded">      
      <div class="row mb-3">
          <div class="col-sm-2"><strong>Date:</strong></div>
          <div class="col-sm-10" id="date">{{date}}</div>
      </div>
      <div class="row mb-3">
          <div class="col-sm-2"><strong>Time:</strong></div>
          <div class="col-sm-10" id="time">{{time}}</div>
      </div>
      <div class="row mb-3">
          <div class="col-sm-2"><strong>Temperature:</strong></div>
          <div class="col-sm-10" id="temperature">{{temp}} °C</div>
      </div>
      <div class="row mb-3">
          <div class="col-sm-2"><strong>Light Status:</strong></div>
          <div class="col-sm-10" id="light-status">{{light}}</div>
      </div>
      <div class="row mb-3">
          <div class="col-sm-2"><strong class="d-inline-block">Deflection Value:</strong></div>
          <div class="col-sm-10" id="acc_value">{{deflection}}</div>
      </div>
  </div>
</div>


<style>
    /* Define the custom styles */
    .content-box {
        height: auto;  /* Container height adjusts according to the content inside */
        overflow-y: auto;  /* Makes the box scrollable if content exceeds the height */
    }
</style>

<div class="container mt-5">
    <h5>LIGHT GRAPH AND STATS</h5>
    <div class="row">
        <!-- Graph Image -->
        <div class="col-md-6 content-box">
            <img src="static/light_plot.png" alt="Measured light intensity values" class="img-fluid">
        </div>
        
        <!-- Table -->
        <div class="col-md-6 content-box">
            {{ drawings['light'] | safe }}
        </div>
    </div>
</div>

<div class="container mt-5">
    <h5>TEMPERATURE GRAPH AND STATS</h5>
    <div class="row">
        <!-- Table -->
        <div class="col-md-6 content-box">
            {{ drawings['temp'] | safe }}
        </div>

        <!-- Graph Image -->
        <div class="col-md-6 content-box">
            <img src="static/temp_plot.png" alt="Measured material temperature values" class="img-fluid">
        </div>
        
    </div>
</div>

<div class="container mt-5">
    <h5>DEFLECTION GRAPH AND STATS</h5>
    <div class="row">
        <!-- Graph Image -->
        <div class="col-md-6 content-box">
            <img src="static/def_plot.png" alt="Measured deflection values" class="img-fluid">
        </div>
        
        <!-- Table -->
        <div class="col-md-6 content-box">
            {{ drawings['def'] | safe }}
        </div>
    </div>
</div>


{% endblock %}
